# .coveragerc
[run]
source = app
omit = 
    */tests/*
    */__pycache__/*
    */migrations/*
    */alembic/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    
    # Ignore TYPE_CHECKING blocks
    if TYPE_CHECKING:

[html]
directory = htmlcov
title = NL2SQL Project Coverage Report